.row{
    padding: 10px;
    background-color:#79C6C0;
    padding-bottom: 4%;
}

h3{padding-top: 20px;
    color: rgb(223, 223, 223);
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 2px 2px rgb(109, 109, 109);
}
#conte{
    background-color: rgb(159, 212, 212)  ;
    padding: 20px;
    padding-top: 5%;
    padding-bottom: 3%;
}
#parrafo{
    float: left;
}
img{
    float: right;
    margin-right: 10%;
    width: 500px;
    box-shadow: 5px 5px  #8e8e8e;
}
#contene h2{
    color: rgb(112, 112, 112); 
    padding: 20px;
}
#contene{
    background-color: rgb(159, 212, 212);
    color: rgb(105, 105, 105); 
    width: 80%;
    margin-left: 7%;
    margin-right: 7%;
    padding: 20px;
    padding-top: 2%;
}

