<div class="row">
    <h3>Proyectos</h3>
    <div id="contene">
        <div class="col-sm-12 col-md-5 col-lg-5" id="parrafo">
        <h2>Porfolio Argentina Programa</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi accusantium mollitia delectus, sequi temporibus voluptatum harum perspiciatis necessitatibus reiciendis amet corporis quod
            , deserunt vitae minima explicabo iste tempore ipsam doloremque? Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi accusantium mollitia delectus, sequi temporibus voluptatum harum perspiciatis necessitatibus reiciendis amet corporis quod
            , deserunt vitae minima explicabo iste tempore ipsam doloremque?</p>
        </div>
        
            <img src="../../../assets/fotos/sshot.png" alt="" class="img-fluid">
        
    </div>



</div>