<div class="row">
    <div class="col-lg-2" *ngIf="isLogged">
        <button type="button" class="btn btn-dark" routerLink="/editabout/1" *ngIf="isLogged">
            Editar
        </button>
    </div>

<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
    <img src={{persona.img}} alt="" class="img-fluid" id="perfil">
    
</div>
<div class="col-xs-12 col-sm-8 col-md-4 col-lg-2">
    <h3 id="nombre">{{persona.nombre}}  </h3>
    <h3 id="nombre">{{persona.apellido}} </h3>
    <h6>Full Stack Dev Jr</h6>
    <h6>2nd Year IA Student </h6>
    <h6>Docente</h6>
</div>
<div class="col-xs-12 col-sm-12 col-md-4 col-lg-7" id="about">
    <span >
        <h2 >About me</h2>
        <p>{{persona.descripcion}}  </p>
    </span>
</div>


</div>
