<div class="row" id="backexp">
    <h3>Experiencial Laboral</h3>
    <div class="col-lg align-self-center" id="contexp">
        <ul>
            <li>
                <h4>Trajajo1</h4><h4>2020</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, laudantium. Magni, modi pariatur reiciendis ipsum natus voluptatem architecto incidunt unde vero delectus esse
                     tenetur assumenda molestiae facere perspiciatis culpa minus?</p>
            </li>
            <li>
                <h4>Trajajo1</h4><h4>2020</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, laudantium. Magni, modi pariatur reiciendis ipsum natus voluptatem architecto incidunt unde vero delectus esse
                     tenetur assumenda molestiae facere perspiciatis culpa minus?</p>
            </li>
            <li>
                <h4>Trajajo1</h4><h4>2020</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, laudantium. Magni, modi pariatur reiciendis ipsum natus voluptatem architecto incidunt unde vero delectus esse
                     tenetur assumenda molestiae facere perspiciatis culpa minus?</p>
            </li>
        </ul>
    </div>

</div>
